.main {
	&__underhead {
		&._index {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
		}
	}
	&__content {
		position: relative;
		margin-top: -85px;
		&._offers {
			background: url(../img/confeti.png) bottom center no-repeat;
		}
	}
}
// видео блок
.full__screen {
	background: url(../img/shadow.png) 0px -90px repeat-x;
	background-color: rgba(21,49,65,0.46);
}
.video {
	&__play {
		z-index: -1;
		background: url(../img/bg.jpg);
		background-size: cover;
		left:0;
		 position:relative;
		 top:0;
		 height: auto!important;
		 overflow: hidden;
	}
}
// блок телефонов под шапкой
.phone {
	&__block {
		margin: 19px 0 22px 21.6%;
		position: relative;
		z-index: 2;
	}
	&__operator {
		max-width: 51px;
		max-height: 51px;
		border-radius: 50%;
		border: 2px solid #d4d4d4;
	}
	&__inner {
		display: inline-block;
		vertical-align: top;
		margin: 3px 26px 0 26px;
		letter-spacing: -1px;
	}
	&__number {
		cursor: pointer;
		color: #fff;
		font-size: 26px;
		font-family: 'Roboto Light';
		margin: -4px 0 1px 0;
		letter-spacing: 0;
		&._black {
			color: #000;
			font-family: 'Roboto Medium';
		}
	}
	&__sufix {
		font-family: 'Roboto Medium';
	}
	&__text {
		margin: 0;
		color: #fff;
		&._black {
			color: #000;
		}
	}
	&__call-me-block {
		display: inline-block;
		vertical-align: top;
		margin: 8px 0 0 26px;
		position: relative;
	}
	&__call-me {
		border-bottom: 1px dotted #588fc3;
		color: #588fc3;
		font-size: 50%;
		&:active,
		&:focus,
		&:hover {
			color: lighten(#588fc3, 10%);
			text-decoration: none;
			border-bottom: 1px solid transparent;
		}
	}
	&__window-call {
		position: absolute;
		display: none;
		border-radius: 4px;
		width: 290px;
		padding: 20px;
		box-sizing: border-box;
		z-index: 10;
		top: 60px;
		left: -70px;
		background: #f6f7ef url(../img/phone.png) 20px 25px no-repeat;
		&:before {
			content: '';
			position: absolute;
			width: 0;
		    height: 0;
		    border-left: 10px solid transparent;
		    border-right: 10px solid transparent;
		    border-bottom: 15px solid #f6f7ef;
		    top: -14px;
		    left: 137px;
		}
	}
	&__input {
		width: 215px;
		height: 37px;
		border: 1px solid #bdbdbd;
		box-shadow: inset 0 0 0 #999;
		font-size: 16px;
		color: #2e2e2e;
		box-sizing: border-box;
		padding: 0 10px;
		float: right;
		margin-right: 5px;
		margin-bottom: 15px;
	}
	&__window-call-text {
		font-size: 16px;
		margin: 0 0 15px;
		line-height: 23px;
		&:before {
			content: '';
			display: block;
			clear: both;
		}
	}
	&__submit {
		background: #5687be;
		border: none;
		border-radius: 6px;
		border-bottom: 3px solid #275180;
		position: relative;
		color: #fff;
		text-shadow: 0px 1px #446b96;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		width: 152px;
		line-height: 44px;
		-webkit-transition: background 0.4s ease;
		-moz-transition: background 0.4s ease;
		-ms-transition: background 0.4s ease;
		-o-transition: background 0.4s ease;
		transition: background 0.4s ease;
		&._order {
			margin-top: 20px;
		}
		&:hover {
			background: darken(#5687be, 5%);
		}
		&:active {
			top: 3px;
			border-bottom: 3px solid transparent;
		}
	}
}
// заголовки
.title {
	font-size: 52px;
	font-family: 'Roboto Black';
	color: #2a2a2a;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	z-index: 1;
	&._white {
		color: #fff;
	}
	&._textL {
		text-align: left;
	}
	&__type {
		font-family: 'Roboto';
	}
}
// блок приемуществ после шапки 
.advantages {
	&__section {
		&._main {
			position: absolute;
			text-align: center;
			width: 100%;
		}
	}
	&__block {
		vertical-align: top;
		width: 19%;
		text-align: center;
	}
	&__list {
		margin: 58px -16px!important;
	}
	&__img {
		display: block;
	    margin: 0 auto 22px auto;
	    max-width: 130px;
	    min-height: 123px;
	}
	&__text {
		color: #fff;
		line-height: 24px;
		font-size: 20px;
		&._black {
			color: #292929;
		}
	}
}
// кнопка спуска вниз 
.button__down {
	padding-bottom: 10px;
	display: inline-block;
}
// блок с обьектами
.object {
	&__block {
		position: relative;
		padding-top: 38px;
		&:before {
			content: '';
			position: absolute;
			top: -5px;
			left: 0;
			width: 100%;
			height: 5px;
			background-color: #fff;
		}
	}
	&__map {
		position: relative;
		margin-top: -125px;
		margin-left: 8px;
	}
	&__point {
		position: absolute;
		&._young {
			top: 207px;
			left: 570px;
			z-index: 20;
		}
		&._gallery {
			top: 426px;
			left: 618px;
		}
		&._museum {
			top: 500px;
			left: 580px;
		}
		&._temple {
			top: 589px;
			left: 481px;
		}
		&._etnos {
			top: 600px;
			left: 284px;
		}
		&._biatlon {
			top: 880px;
		    left: 487px;
		}
		&._freedom {
			top: 1337px;
			left: 708px;
			z-index: 20;
		}
		&._coast {
			top: 610px;
			left: 670px;
			z-index: 20;
		}
	}
	&__link {
		&:hover {
			text-decoration: none;
		}
	}
	&__circle {
		position: absolute;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&.active {
			top: -6px;
			left: -5px;
			animation: scales 0.5s ease-in-out;
			-webkit-animation: scales 0.5s ease-in-out;
			@keyframes scales {
				0% {
					-moz-transform: scale(0);
					-webkit-transform: scale(0);
					-o-transform: scale(0);
					-ms-transform: scale(0);
					transform: scale(0);
				}
				50% {
					-moz-transform: scale(1.2);
					-webkit-transform: scale(1.2);
					-o-transform: scale(1.2);
					-ms-transform: scale(1.2);
					transform: scale(1.2);
				}
				100% {
					-moz-transform: scale(1);
					-webkit-transform: scale(1);
					-o-transform: scale(1);
					-ms-transform: scale(1);
					transform: scale(1);
				}
			}
			@-webkit-keyframes scales {
				0% {
					-moz-transform: scale(0);
					-webkit-transform: scale(0);
					-o-transform: scale(0);
					-ms-transform: scale(0);
					transform: scale(0);
				}
				50% {
					-moz-transform: scale(1.2);
					-webkit-transform: scale(1.2);
					-o-transform: scale(1.2);
					-ms-transform: scale(1.2);
					transform: scale(1.2);
				}
				100% {
					-moz-transform: scale(1);
					-webkit-transform: scale(1);
					-o-transform: scale(1);
					-ms-transform: scale(1);
					transform: scale(1);
				}
			}
		}
	}
	&__name {
		color: #5687be;
		font-family: "Roboto Thin It";
		line-height: 17px;
		margin: 3px 0 0 35px;
	}
	&__inner {
		background: #f5f6ed;
		border-radius: 5px;
		width: 223px;
		position: absolute;
		&._young {
			top: -13px;
		    left: -239px;
			&:before {
				content: '';
				position: absolute;
				background: url(../img/triangle.png) 0 0 no-repeat;
				width: 35px;
				height: 37px;
				top: 29px;
			    right: -35px;
				z-index: 21;
			}
		}
		&._freedom {
			top: -257px;
			left: -5px;
			&:before {
				content: '';
			    position: absolute;
			    background: url(../img/triangle_down.png) 0 0 no-repeat;
			    width: 35px;
			    height: 37px;
			    top: 100%;
			    right: 166px;
			    z-index: 21;
			}
		}
		&._coast {
			top: -256px;
			left: -6px;
			z-index: 14;
			&:before {
				content: '';
			    position: absolute;
			    background: url(../img/triangle_down.png) 0 0 no-repeat;
			    width: 35px;
			    height: 37px;
			    top: 100%;
			    right: 166px;
			    z-index: 21;
			}
		}
	}
	&__img {
		border-radius: 5px 5px 0 0;
	}
	&__inner-title {
		font-size: 20px;
		margin: 15px 0 -5px 21px;
		color: #323232;
		line-height: 24px;
	}
	&__inner-link {
		font-size: 20px;
		font-family: 'Roboto Bold';
		line-height: 20px;
		text-indent: -10px;
		display: block;
		padding: 6px 0 13px 21px;
		&:hover {
			text-decoration: none;
		}
	}
}
// о нашйе кампании
.about {
	&__block {
		margin: -72px 0 0 0;
		.title {
			margin-bottom: 44px;
		}
		&._marg {
			margin: 64px 0 -70px 0;
		}
	}
	&__price {
		margin: 140px 0 50px 0;
		&._marg {
			margin: 0px 6% 0 61px;
		}
	}
	&__news {
		float: right;
		margin: 126px 0 50px 0;
	}
	&__center {
		margin: 0 60px 83px 33px;
	}
	&__img {
		display: block;
		margin: 0 0 10px 0;
	}
	&__price-link {
		font-size: 66%;
		border-bottom: 1px solid;
		&:hover {
			border-bottom: 1px solid transparent;
			text-decoration: none;
		}
	}
	&__text {
		font-size: 20px;
		line-height: 30px;
		margin: 0px 0px 30px 0;
		&._height {
			color: #292929;
			line-height: 38px;
		    margin: -6px 0 0 0;
		}
	}
	&__link {
		display: inline-block;
		line-height: 16px;
		font-size: 20px;
		line-height: 22px;
		border-bottom: 1px solid #2884be;
		&:hover {
			border-bottom: 1px solid transparent;
			text-decoration: none;
		}
	}
	&__news-date {
		margin-bottom: 8px;
	}
	&__news-link {
		font-size: 55%;
		line-height: 22px;
		border-bottom: 1px solid #2884be;
		&:hover {
			border-bottom: 1px solid transparent;
			text-decoration: none;
		}
	}
	&__brand {
		margin-bottom: 42px;
	}
	&__name {
		margin: 15px 0 6px 0;
		width: 150px;
		font-size: 20px;
		color: #373737;
		font-family: 'Roboto Bold';
	}
	&__position {
		margin: 0;
		color: #373737;
	}
}
// блок цитаты на странице о компании
.blockquote {
	&__section {
		background: url(../img/blue_bg.jpg) 0 0 no-repeat;
		background-size: cover;
		padding: 44px 0 47px 0;
	}
	&__text {
		color: #fff;
		font-size: 30px;
		margin-bottom: 0;
		line-height: 50px;
		font-family: 'Roboto Medium';
	}
}
// блок истории
.history {
	&__section {
		height: 440px;
		overflow: hidden;
		text-align: center;
		margin-left: -100px;
		margin-top: 137px;
	}
	&__wrap {
		width: 20000px;
	}
	&__block {
		text-align: left;
		vertical-align: top;
		float: left;
		width: 263px;
		height: 440px;
		display: inline-block;
		background: #080581;
		box-sizing: border-box;
		padding: 30px 12px 30px 37px;
		position: relative;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&:before {
			content: '';
			position: absolute;
			background: rgba(131, 89, 194, 0.72);
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 2;
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			-ms-transition: all 0.4s ease;
			-o-transition: all 0.4s ease;
			transition: all 0.4s ease;
		}
		&.hover {
			&:before {
				top: 100%;
			}
		}
	}
	&__img-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
	}
	&__text {
		color: #fff;
		margin: 0;
		position: relative;
		z-index: 2;
		font-size: 20px;
		line-height: 28px;
	}
	&__year {
		margin: 0;
		color: #fff;
		position: relative;
		z-index: 2;
		font-weight: bold;
		font-size: 40px;
		margin-bottom: 11px;
	}
}
// спец предложения
.offers {
	&__section {
		text-align: center;
		margin-bottom: 50px;
	}
	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		height: 423px;
		width: 100%;
		background: url(../img/offers_shadow.png) 0 0 repeat-x;
		z-index: -1;
	}
	&__text {
		margin: 25px 0 53px 0;
		font-size: 20px;
		letter-spacing: 1px;
	}
	&__block {
		margin: 0 3%;
	    text-align: left;
	    background: #f3f4e9;
	    display: inline-block;
	    vertical-align: top;
	    width: 26%;
	    padding: 0;
	}
	&__block-inner {
		padding: 13px 15px 31px 15px;
		box-sizing: border-box;
		min-height: 151px;
	}
	&__img {
		width: 100%;
		max-height: 167px;
		border-radius: 5px 5px 0 0;
	}
	&__link {
		font-weight: bold;
		color: #2884be;
		font-size: 20px;
		display: block;
		position: relative;
		z-index: 10;
		&:hover {
			text-decoration: none;
		}
	}
	&__inner-text {
		color: #2a2a2a;
		margin: 1px 0 0 0;
	    line-height: 26px;
	}
}
//  коробка 
.box {
	&__section {
		position: relative;
		margin: -208px 0 0 0;
	}
	&__img {
		margin: 50px auto -78px auto;
		display: block;
		position: relative;
		z-index: -1;
		&._confeti {
			position: absolute;
			top: 0;
			left: 0;
		}
		&._confeti-mini {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
// блок фотогалереи
.photo {
	&__list-type {
		padding: 0;
		text-align: center;
		margin: 34px 0 38px 0;
	}
	&__item {
		margin: 0 4px;
	}
	&__link {
		display: block;
		color: #4d7eb8;
		font-size: 20px;
		display: block;
		padding: 7px 21px;
		border: 2px solid #d4d4d4;
		border-radius: 4px;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&:hover,
		&.active {
			text-decoration: none;
			border: 2px solid #4d7eb8;
			background: #4d7eb8;
			color: #fff;
		}
	}
	&__text {
		font-size: 20px;
		color: #2a2a2a;
		line-height: 29px;
		margin: 0px 0 0 0;
		text-align: center;
	}
}
// блок с картой
.map {
	&__block {
		margin-top: -135px;
		width: 100%;
		position: relative;
		height: 662px;
	}
	&__shadow {
		-webkit-box-shadow: inset 0 75px 50px -40px rgba(255, 255, 255, 0.73);
		box-shadow: inset 0 75px 50px -22px rgba(255, 255, 255, 0.73);
		width: 100%;
		height: 80px;
		position: absolute;
		z-index: 1;
		top: 0;
	}
	&__inner {
		position: relative;
		z-index: 100;
		width: 377px;
		box-sizing: border-box;
		padding: 30px 20px 28px 63px;
		text-align: left;
		border-radius: 4px;
		background: rgb(239,241,227); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(239,241,227,1) 0%, rgba(235,237,221,1) 10%, rgba(235,237,220,1) 24%, rgba(236,238,222,1) 30%, rgba(244,245,236,1) 47%, rgba(246,247,239,1) 56%, rgba(246,247,239,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,241,227,1)), color-stop(10%,rgba(235,237,221,1)), color-stop(24%,rgba(235,237,220,1)), color-stop(30%,rgba(236,238,222,1)), color-stop(47%,rgba(244,245,236,1)), color-stop(56%,rgba(246,247,239,1)), color-stop(100%,rgba(246,247,239,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(239,241,227,1) 0%,rgba(235,237,221,1) 10%,rgba(235,237,220,1) 24%,rgba(236,238,222,1) 30%,rgba(244,245,236,1) 47%,rgba(246,247,239,1) 56%,rgba(246,247,239,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(239,241,227,1) 0%,rgba(235,237,221,1) 10%,rgba(235,237,220,1) 24%,rgba(236,238,222,1) 30%,rgba(244,245,236,1) 47%,rgba(246,247,239,1) 56%,rgba(246,247,239,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(239,241,227,1) 0%,rgba(235,237,221,1) 10%,rgba(235,237,220,1) 24%,rgba(236,238,222,1) 30%,rgba(244,245,236,1) 47%,rgba(246,247,239,1) 56%,rgba(246,247,239,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(239,241,227,1) 0%,rgba(235,237,221,1) 10%,rgba(235,237,220,1) 24%,rgba(236,238,222,1) 30%,rgba(244,245,236,1) 47%,rgba(246,247,239,1) 56%,rgba(246,247,239,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff1e3', endColorstr='#f6f7ef',GradientType=0 ); /* IE6-9 */
		position: relative;
		&:after {
			content: '';
			position: absolute;
			background: url(../img/marker_bg.png) 0 0 no-repeat;
			width: 92px;
			height: 119px;
			top: 0;
			right: 0;
			z-index: -1;
		}
		&:before {
			content: '';
			position: absolute;
			width: 0;
		    height: 0;
		    border-top: 34px solid #F6F7EF; 
		    border-right: 34px solid transparent;	
			bottom: -33px;
			left: 18px;
		}
	}
	&__inner-head {
		text-transform: uppercase;
		margin: 0 0 10px 0;
		font-size: 30px;
		color: #323232;
		font-weight: bold;
		position: relative;
	}
	&__address,
	&__city {
		color: #323232;
		font-size: 20px;
		margin: 0 0 6px 0;
	}
	&__city {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			background: url(../img/marker.png) 0 0 no-repeat;
			width: 30px;
			height: 40px;
			top: 5px;
			left: -42px;
		}
	}
	&__phone {
		font-family: 'Roboto Black';
		color: #323232;
		margin: 0 0 5px 0;
		cursor: pointer;
		font-size: 30px;
	}
	&__email {
		color: #3f8dc1;
		display: inline-block;
		line-height: 24px;
		font-size: 20px;
		border-bottom: 1px solid;
		&:hover {
			border-bottom: 1px solid transparent;
			text-decoration: none;
		}
	}
}
#map {
	width: 100%;
	height: 100%;
}
// сотрудники 
.person {
	&__section {
		margin: 49px 0;
		.title {
			text-align: left;
			margin-bottom: 60px;
		}
	}
	&__block-inner {
		margin-left: 118px;
	}
	&__block {
		padding-right: 150px;
		margin-bottom: 59px;
	}
	&__img {
		float: left;
		margin-bottom: 12px;
	}
	&__name {
		margin: -3px 0 4px 0;
		letter-spacing: 1px;
		font-size: 30px;
		color: #323232;
		font-family: 'Roboto Medium';
	}
	&__position {
		margin: 0 0 5px 0;
		font-size: 20px;
		color: #323232;
		letter-spacing: 1px;
	}
	&__email {
		color: #3f8dc1;
		font-size: 20px;
		border-bottom: 1px solid;
		display: inline-block;
		line-height: 24px;
		&:hover {
			border-bottom: 1px solid transparent;
			text-decoration: none;
		}
	}
}
//  наши обьекты
.flat {
	&__section {

	}
	&__text {
		text-align: center;
		margin: 20px 0 32px 0;
		font-size: 20px;
		letter-spacing: 1px;
	}
	&__objects {
		background: url(../img/wave.png) repeat-x;
		padding-bottom: 80px;
		margin-bottom: 5px;
	}
	&__list {
		text-align: center;
	}
	&__link {
		background: rgb(239,241,227); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(239,241,227,1) 0%, rgba(235,237,221,1) 10%, rgba(235,237,220,1) 24%, rgba(236,238,222,1) 30%, rgba(244,245,236,1) 47%, rgba(246,247,239,1) 56%, rgba(246,247,239,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,241,227,1)), color-stop(10%,rgba(235,237,221,1)), color-stop(24%,rgba(235,237,220,1)), color-stop(30%,rgba(236,238,222,1)), color-stop(47%,rgba(244,245,236,1)), color-stop(56%,rgba(246,247,239,1)), color-stop(100%,rgba(246,247,239,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(239,241,227,1) 0%,rgba(235,237,221,1) 10%,rgba(235,237,220,1) 24%,rgba(236,238,222,1) 30%,rgba(244,245,236,1) 47%,rgba(246,247,239,1) 56%,rgba(246,247,239,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(239,241,227,1) 0%,rgba(235,237,221,1) 10%,rgba(235,237,220,1) 24%,rgba(236,238,222,1) 30%,rgba(244,245,236,1) 47%,rgba(246,247,239,1) 56%,rgba(246,247,239,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(239,241,227,1) 0%,rgba(235,237,221,1) 10%,rgba(235,237,220,1) 24%,rgba(236,238,222,1) 30%,rgba(244,245,236,1) 47%,rgba(246,247,239,1) 56%,rgba(246,247,239,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(239,241,227,1) 0%,rgba(235,237,221,1) 10%,rgba(235,237,220,1) 24%,rgba(236,238,222,1) 30%,rgba(244,245,236,1) 47%,rgba(246,247,239,1) 56%,rgba(246,247,239,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff1e3', endColorstr='#f6f7ef',GradientType=0 ); /* IE6-9 */
		position: relative;
		display: block;
		box-sizing: border-box;
		padding: 13px 28px;
		min-width: 243px;
		vertical-align: top;
		&:hover {
			text-decoration: none;
		}
		&.active {
			padding: 10px 28px;
			background: #f6f7ef;
			border: 3px solid #2884be;
			cursor: default;
			&:before {
				content: '';
				position: absolute;
				background: url(../img/object_triangle.png) 0 0 no-repeat;
				width: 99px;
				height: 23px;
				bottom: -23px;
				left: 50%;
				right: 0;
				margin-left: -48px;
			}
		}
	}
	&__item {
		text-align: left;
		margin: 0 12px;
	}
	&__type {
		color: #323232;
		font-size: 20px;
		margin: 0 0 -2px 0;
	}
	&__name {
		color: #2884be;
		margin: 0 0 0 -12px;
		font-size: 20px;
		font-weight: bold;
	}
}
#estate__map {
	height: 363px;
	width: 100%;
	margin: 20px 0px;
}
// блок одного обьекта
.estate {
	&__slider-block {
		margin-bottom: 40px;
	}
	&__finish {
		float: right;
		color: #749910;
		font-size: 16px;
		position: relative;
		padding-left: 30px;
		margin: 30px 0 0 0;
		&:before {
			content: '';
			position: absolute;
			background: url(../img/ok.png) 0 0 no-repeat;
			width: 23px;
			height: 19px;
			top: 11px;
			left: -3px;
		}
	}
	&__slider-wrap {
		top: -383px;
		position: relative;
		display: inline-block;
	}
}
// превью слайдера
.bx-pager {
	&__block {
		margin-left: -30px;
		margin-top: -383px;
	}
	&__link {
		display: inline-block;
		margin: 20px 0 0 30px;
		float: left;
		opacity: 0.6;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&:hover {
			opacity: 1;
		}
	}
	&__img {
		max-height: 111px;
		max-width: 162px;
		display: block;
		margin: auto;
	}
}
// отдел продаж
.department {
	&__section {
		background: url(../img/blue_bg2.jpg) 0 0 no-repeat;
		background-size: cover;
		padding: 30px 0 84px 0;
		margin-top: 10px;
	}
	&__btn {
		width: 230px;
		line-height: 64px;
		float: right;
		text-align: center;
		font-family: 'PT Sans';
		display: block;
		border-radius: 10px;
		color: #fff;
		text-transform: uppercase;
		font-size: 22px;
		font-weight: bold;
		background: #8ab64a;
		margin-top: 183px;
		z-index: 2;
		position: relative;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&:focus,
		&:hover {
			color: #fff;
			text-decoration: none;
			background: lighten(#8ab64a, 6%);
		}
	}
	&__title {
		color: #fff;
		font-size: 52px;
		font-family: 'Roboto Medium';
		margin: 21px 0 44px 0;
	}
	&__img {
		border-radius: 15px;
		float: left;
		display: block;
		max-width: 152px;
		max-height: 152px;
	}
	&__block-inner {
		margin: -6px 0 0 196px;
	}
	&__person-name {
		color: #fff;
		font-family: 'Roboto Medium';
		font-size: 30px;
		letter-spacing: 1px;
		margin: 0 0 18px 0;
	}
	&__position {
		color: #fff;
		font-size: 20px;
		margin: 0;
		letter-spacing: 1px;
	}
	&__phone {
		color: #fff;
		font-size: 30px;
		margin: 0;
		font-weight: bold;
		cursor: pointer;
	}
	&__email {
		color: #fff;
		font-size: 20px;
		display: inline-block;
		border-bottom: 1px solid;
		line-height: 24px;
		&:hover {
			color: #fff;
			text-decoration: none;
			border-bottom: 1px solid transparent;
		}
	}
}
// текст после обьекта
.estate {
	&__subtitle {
		color: #323232;
		font-size: 30px;
		font-family: 'Roboto Medium';
		line-height: 50px;
		margin: -7px 0 24px 0;
	}
	&__description-text {
		font-size: 20px;
		color: #323232;
		margin: 0 0 48px 65px;
		line-height: 38px;
		position: relative;
	}
	&__table {
		width: 100%;
		margin-bottom: 44px;
		tr {
			border-bottom: 1px solid #fff;
		}
		th {
			color: #84898c;
			font-size: 20px;
			padding: 12px 66px;
			background: #f5f5f5;
			font-weight: normal;
		}
		td {
			font-size: 20px;
			padding: 12px 66px;
			background: #ececec;
		}
	}
	&__left-block {
		position: absolute;
		width: 145px;
		left: -38%;
	    top: -15px;
	    line-height: 20px;
	}
	&__left-img {
		display: block;
		margin-bottom: 13px;
	}
	&__text-link {
		font-size: 50%;
		border-bottom: 1px solid;
		color: #2884be;
		&:hover {
			border-bottom: 1px solid transparent;
			text-decoration: none;
		}
	}
}
// блок контактов вне карты
.contact {
	&__block-outside {
		display: none;
		.map__inner {
			margin: 20px auto;
			width: 100%;
			&:before {
				display: none;
			}
		}
		.map__inner-head {
			font-size: 22px;
		}
		.map__address, .map__city {
			font-size: 16px;
			margin: 0 0 0px 0;
		}
		.map__phone {
			margin: 6px 0 5px 0;
			font-size: 22px;
		}
		.map__email {
			line-height: 18px;
			font-size: 16px;
		}
	}
}
// окно заявки
#order{
	background: #f6f7ef;
	padding: 32px 40px;
	border-radius: 5px;
	display: none;
}
.order {
	&__title {
		text-transform: uppercase;
		font-size: 32px;
		font-weight: bold;
		margin: 0 0 15px;
		letter-spacing: -1px;
		color: #161616;
	}
	&__block {
		width: 590px;
	}
	&__text {
		font-size: 16px;
		margin: 0 0 15px;
		color: #161616;
	}
	&__form {
		max-width: 490px;
	}
	&__input {
		border: 1px solid #bdbdbd;
		box-shadow: inset 1px 12px 8px -11px #bdbdbd;
		height: 36px;
		box-sizing: border-box;
		padding: 0 10px;
		margin: 0 5px;
		font-size: 16px;
		margin-bottom: 10px;
		&._name {
			width: 251px;
		}
		&._phone {
			width: 224px;
		}
	}
	&__message {
		resize: none;
		box-shadow: inset 1px 12px 8px -11px #bdbdbd;
		width: 99%;
		height: 78px;
		margin-bottom: 10px;
		box-sizing: border-box;
		padding: 10px;
	}
}