.main {
	&__underhead {
		margin: -86px 0 -18px 0;
	}
	&__content {
		&._offers {
			background: url(../img/confeti.png) bottom center no-repeat;
		}
	}
}
// видео блок
.full__screen {
	position: absolute;
	overflow: hidden;
}
.video {
	&__block {
		margin: 0 auto;
		width: 100%; 
		z-index: -1;
	}
	&__wrap {
		position: absolute;
	    width: 100%;
	    height: 100%;
	   	top: -5px;
	    background: url(../img/shadow.png) 0px -90px repeat-x;
	    background-color: rgba(21,49,65,0.46)
	}
	&__play {
		width: 100%;
		z-index: -1;
	}
}
// блок телефонов под шапкой
.phone {
	&__block {
		margin: 19px 0 36px 21.6%;
		&._main {
			margin: 19px 0 116px 21.6%;
		}
	}
	&__operator {
		max-width: 51px;
		max-height: 51px;
		border-radius: 50%;
		border: 2px solid #d4d4d4;
	}
	&__inner {
		display: inline-block;
		vertical-align: top;
		margin: 3px 26px 0 26px;
		letter-spacing: -1px;
	}
	&__number {
		cursor: pointer;
		color: #fff;
		font-size: 26px;
		font-family: 'Roboto Light';
		margin: -4px 0 1px 0;
		letter-spacing: 0;
		&._black {
			color: #000;
			font-family: 'Roboto Medium';
		}
	}
	&__sufix {
		font-family: 'Roboto Medium';
	}
	&__text {
		margin: 0;
		color: #fff;
		&._black {
			color: #000;
		}
	}
	&__call-me-block {
		display: inline-block;
		vertical-align: top;
		margin: 8px 0 0 26px;
	}
	&__call-me {
		border-bottom: 1px dotted #588fc3;
		color: #588fc3;
		font-size: 50%;
		&:hover {
			color: lighten(#588fc3, 10%);
			text-decoration: none;
			border-bottom: 1px solid transparent;
		}
	}
}
// заголовки
.title {
	font-size: 52px;
	font-family: 'Roboto Black';
	color: #2a2a2a;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	z-index: 10;
	&._white {
		color: #fff;
	}
}
// блок приемуществ после шапки 
.advantages {
	&__block {
		vertical-align: top;
		width: 19%;
		text-align: center;
	}
	&__list {
		margin: 71px -58px 71px -16px!important;
	}
	&__img {
		display: block;
		margin: 0 auto 45px auto;
	}
	&__text {
		color: #fff;
		line-height: 28px;
		font-size: 20px;
		&._black {
			color: #292929;
		}
	}
}
// кнопка спуска вниз 
.button__down {
	
}
// блок с обьектами
.object {
	&__block {
		position: relative;
		padding-top: 38px;
	}
	&__map {
		position: relative;
		margin-top: -126px;
		margin-left: 8px;
	}
	&__point {
		position: absolute;
		&._young {
			top: 207px;
			left: 570px;
			z-index: 20;
		}
		&._gallery {
			top: 426px;
			left: 618px;
		    z-index: 19;
		}
		&._museum {
			top: 500px;
			left: 580px;
			z-index: 18;
		}
		&._temple {
			top: 589px;
			left: 481px;
			z-index: 17;
		}
		&._etnos {
			top: 600px;
			left: 284px;
		    z-index: 16;
		}
		&._biatlon {
			top: 880px;
		    left: 487px;
			z-index: 15;
		}
		&._freedom {
			top: 1337px;
			left: 708px;
			z-index: 14;
		}
	}
	&__link {
		&:hover {
			text-decoration: none;
		}
	}
	&__circle {
		position: absolute;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&.active {
			top: -6px;
			left: -5px;
			animation: scales 0.5s ease-in-out;
			-webkit-animation: scales 0.5s ease-in-out;
			@keyframes scales {
				0% {
					-moz-transform: scale(0);
					-webkit-transform: scale(0);
					-o-transform: scale(0);
					-ms-transform: scale(0);
					transform: scale(0);
				}
				50% {
					-moz-transform: scale(1.2);
					-webkit-transform: scale(1.2);
					-o-transform: scale(1.2);
					-ms-transform: scale(1.2);
					transform: scale(1.2);
				}
				100% {
					-moz-transform: scale(1);
					-webkit-transform: scale(1);
					-o-transform: scale(1);
					-ms-transform: scale(1);
					transform: scale(1);
				}
			}
			@-webkit-keyframes scales {
				0% {
					-moz-transform: scale(0);
					-webkit-transform: scale(0);
					-o-transform: scale(0);
					-ms-transform: scale(0);
					transform: scale(0);
				}
				50% {
					-moz-transform: scale(1.2);
					-webkit-transform: scale(1.2);
					-o-transform: scale(1.2);
					-ms-transform: scale(1.2);
					transform: scale(1.2);
				}
				100% {
					-moz-transform: scale(1);
					-webkit-transform: scale(1);
					-o-transform: scale(1);
					-ms-transform: scale(1);
					transform: scale(1);
				}
			}
		}
	}
	&__name {
		color: #5687be;
		font-family: "Roboto Thin It";
		line-height: 17px;
		margin: 3px 0 0 35px;
	}
	&__inner {
		display: none;
		background: #f5f6ed;
		border-radius: 5px;
		width: 223px;
		position: absolute;
		&._young {
			top: -19px;
			left: -243px;
			&:before {
				content: '';
				position: absolute;
				background: url(../img/triangle.png) 0 0 no-repeat;
				width: 35px;
				height: 37px;
				top: 29px;
			    right: -35px;
				z-index: 21;
			}
		}
		&._gallery {
			top: -20px;
			left: -240px;
			&:before {
				content: '';
				position: absolute;
				background: url(../img/triangle.png) 0 0 no-repeat;
				width: 35px;
				height: 37px;
				top: 29px;
			    right: -35px;
				z-index: 21;
			}
		}
		&._museum {
			top: -20px;
			left: -240px;
			&:before {
				content: '';
				position: absolute;
				background: url(../img/triangle.png) 0 0 no-repeat;
				width: 35px;
				height: 37px;
				top: 29px;
			    right: -35px;
				z-index: 21;
			}
		}
		&._temple {
			top: -20px;
			left: 47px;
			&:before {
				content: '';
			    position: absolute;
			    background: url(../img/triangle_down.png) 0 0 no-repeat;
			    width: 35px;
			    height: 37px;
			    top: 29px;
			    right: 223px;
			    z-index: 21;
			    -moz-transform: rotate(90deg);
			    -webkit-transform: rotate(90deg);
			    -o-transform: rotate(90deg);
			    -ms-transform: rotate(90deg);
			    transform: rotate(90deg);
			}
		}
		&._etnos {
			top: 46px;
			left: -41px;
			&:before {
				content: '';
				position: absolute;
				background: url(../img/triangle.png) 0 0 no-repeat;
				width: 35px;
				height: 37px;
				top: -36px;
				right: 135px;
				z-index: 21;
				-moz-transform: rotate(-90deg);
				-webkit-transform: rotate(-90deg);
				-o-transform: rotate(-90deg);
				-ms-transform: rotate(-90deg);
				transform: rotate(-90deg);
			}
		}
		&._biatlon {
			top: -20px;
			left: -240px;
			&:before {
				content: '';
				position: absolute;
				background: url(../img/triangle.png) 0 0 no-repeat;
				width: 35px;
				height: 37px;
				top: 29px;
			    right: -35px;
				z-index: 21;
			}
		}
		&._freedom {
			top: -263px;
			left: -11px;
			&:before {
				content: '';
			    position: absolute;
			    background: url(../img/triangle_down.png) 0 0 no-repeat;
			    width: 35px;
			    height: 37px;
			    top: 100%;
			    right: 166px;
			    z-index: 21;
			}
		}
	}
	&__img {
		border-radius: 5px 5px 0 0;
	}
	&__inner-title {
		font-size: 20px;
		margin: 15px 0 -5px 21px;
		color: #323232;
		line-height: 24px;
	}
	&__inner-link {
		font-size: 20px;
		font-family: 'Roboto Bold';
		line-height: 20px;
		text-indent: -10px;
		display: block;
		padding: 6px 0 13px 21px;
		&:hover {
			text-decoration: none;
		}
	}
}
// о нашйе кампании
.about {
	&__block {
		margin: -72px 0 0 0;
		.title {
			margin-bottom: 44px;
		}
		&._marg {
			margin: 64px 0 -70px 0;
		}
	}
	&__price {
		margin: 140px 0 50px 0;
		&._marg {
			margin: 0px 6% 0 61px;
		}
	}
	&__news {
		float: right;
		margin: 126px 0 50px 0;
	}
	&__center {
		margin: 0 60px 83px 33px;
	}
	&__img {
		display: block;
		margin: 0 0 10px 0;
	}
	&__price-link {
		font-size: 66%;
		border-bottom: 1px solid;
		&:hover {
			border-bottom: 1px solid transparent;
			text-decoration: none;
		}
	}
	&__text {
		font-size: 20px;
		line-height: 30px;
		margin: 0px 0px 30px 0;
		&._height {
			color: #292929;
			line-height: 38px;
		    margin: -6px 0 0 0;
		}
	}
	&__link {
		display: inline-block;
		line-height: 16px;
		font-size: 20px;
		line-height: 22px;
		border-bottom: 1px solid #2884be;
		&:hover {
			border-bottom: 1px solid transparent;
			text-decoration: none;
		}
	}
	&__news-date {
		margin-bottom: 8px;
	}
	&__news-link {
		font-size: 55%;
		line-height: 22px;
		border-bottom: 1px solid #2884be;
		&:hover {
			border-bottom: 1px solid transparent;
			text-decoration: none;
		}
	}
	&__brand {
		margin-bottom: 42px;
	}
	&__name {
		margin: 15px 0 6px 0;
		width: 150px;
		font-size: 20px;
		color: #373737;
		font-family: 'Roboto Bold';
	}
	&__position {
		margin: 0;
		color: #373737;
	}
}
// блок цитаты на странице о компании
.blockquote {
	&__section {
		background: url(../img/blue_bg.jpg) 0 0 no-repeat;
		background-size: cover;
		padding: 44px 0 47px 0;
	}
	&__text {
		color: #fff;
		font-size: 30px;
		margin-bottom: 0;
		line-height: 50px;
		font-family: 'Roboto Medium';
	}
}
// блок истории
.history {
	&__section {
		height: 440px;
		overflow: hidden;
		text-align: center;
		margin-left: -100px;
		margin-top: 137px;
	}
	&__wrap {
		width: 20000px;
	}
	&__block {
		text-align: left;
		vertical-align: top;
		float: left;
		width: 263px;
		height: 440px;
		display: inline-block;
		background: #080581;
		box-sizing: border-box;
		padding: 30px 12px 30px 37px;
		position: relative;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&:before {
			content: '';
			position: absolute;
			background: rgba(131, 89, 194, 0.72);
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 2;
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			-ms-transition: all 0.4s ease;
			-o-transition: all 0.4s ease;
			transition: all 0.4s ease;
		}
		&.hover {
			&:before {
				top: 100%;
			}
		}
	}
	&__img-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
	}
	&__text {
		color: #fff;
		margin: 0;
		position: relative;
		z-index: 2;
		font-size: 20px;
		line-height: 28px;
	}
	&__year {
		margin: 0;
		color: #fff;
		position: relative;
		z-index: 2;
		font-weight: bold;
		font-size: 40px;
		margin-bottom: 11px;
	}
}
// спец предложения
.offers {
	&__section {
		text-align: center;
		margin-bottom: 50px;
	}
	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		height: 423px;
		width: 100%;
		background: url(../img/offers_shadow.png) 0 0 repeat-x;
		z-index: -1;
	}
	&__text {
		margin: 25px 0 53px 0;
		font-size: 20px;
		letter-spacing: 1px;
	}
	&__block {
		margin: 0 3%;
	    text-align: left;
	    background: #f3f4e9;
	    display: inline-block;
	    vertical-align: top;
	    width: 26%;
	    padding: 0;
	}
	&__block-inner {
		padding: 13px 15px 31px 15px;
		box-sizing: border-box;
		min-height: 151px;
	}
	&__img {
		width: 100%;
		max-height: 167px;
	}
	&__link {
		font-weight: bold;
		color: #2884be;
		font-size: 20px;
		display: block;
		&:hover {
			text-decoration: none;
		}
	}
	&__inner-text {
		color: #2a2a2a;
		margin: 1px 0 0 0;
	    line-height: 26px;
	}
}
//  коробка 
.box {
	&__section {
		position: relative;
		margin: -208px 0 0 0;
	}
	&__img {
		margin: 50px auto -78px auto;
		display: block;
		position: relative;
		z-index: -1;
		&._confeti {
			position: absolute;
			top: 0;
			left: 0;
		}
		&._confeti-mini {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
// блок фотогалереи
.photo {
	&__list-type {
		padding: 0;
		text-align: center;
		margin: 34px 0 38px 0;
	}
	&__item {
		margin: 0 4px;
	}
	&__link {
		display: block;
		color: #4d7eb8;
		font-size: 20px;
		display: block;
		padding: 7px 21px;
		border: 2px solid #d4d4d4;
		border-radius: 4px;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&:hover,
		&.active {
			text-decoration: none;
			border: 2px solid #4d7eb8;
			background: #4d7eb8;
			color: #fff;
		}
	}
	&__text {
		font-size: 20px;
		color: #2a2a2a;
		line-height: 29px;
		margin: 0px 0 0 0;
		text-align: center;
	}
}