.header {
	background: url(../img/header_bg.png) left top repeat-x;
	// логотип
	&__logo {
		position: relative;
		z-index: 2;
	}
	&__menu-btn {
		background: url(../img/menu_white.svg) 0 0 no-repeat;
		float: right;
		display: none;
		width: 45px;
		height: 40px;
		margin: 5px 0 0 0;
	}
	// меню в хедере
	&__menu {
		display: inline-block;
		margin: 12px -22px 0 11px !important;
		vertical-align: top;
		letter-spacing: -0.3px;
	}
	&__menu-item {
		margin-left: 7px;
	}
	&__menu-link {
		color: #fff;
		text-transform: uppercase;
		font-family: 'Roboto Black';
		padding: 5px 6px;
		display: inline-block;
		border-radius: 3px;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&:hover {
			text-decoration: none;
		}
		&.active {
			color: #fff;
			background: rgba(0, 0, 0, 0.44);
			text-decoration: none;
		}
	}
}
.mobile {
	&__menu {
		position: absolute;
		top: 53px;
		background-color: rgba(0, 0, 0, 0.8);
		margin: 0!important;
		z-index: 20;
		right: 24px;
		display: none;
		&._fixed {
			position: absolute;
			height: 10000px;
			top: 0;
			display: block;
			right: auto;
		}
	}
	&__menu-item {
		margin-left: 0;
		padding: 0!important;
		display: block!important;
	}
	&__menu-link {
		font-size: 16px;
		display: block;
		padding: 11px 35px;
		box-sizing: border-box;
		border-radius: 0;
		color: #fff;
		font-family: 'Roboto Black';
		font-weight: bold;
		text-transform: uppercase;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&.active,
		&:hover {
			color: #323232;
			background: #fff;
			text-decoration: none;
		}
	}
}