@media (max-width: 767px) {
	.video {
		&__play {
			max-height: 327px;
			display: none;
			video {
				display: none;				
			}
		}
		&__wrap {
			display: none;
		}
	}
	.full__screen {
		max-height: 327px;
	}
	.mobile__menu._slide {
		display: none!important;
	}
	.header {
		&__logo {
			display: inline-block;
			max-width: 100px;
		}
		&__menu {
			display: none;
		}
		&__menu-btn {
			&._fix {
				display: block;
			}
		}
	}
	.main {
		&__content {
			margin-top: -10px;
			&._index {
				margin-top: -9px;
				.container {
					height: auto;
				}
			}
		}
		&__underhead {
			&._index {
				position: relative;
			    background: url(../img/bg.jpg);
			    background-size: cover;
			}
		}
	}
	.advantages__section {
		display: none;
		&._main {
			display: none;
		}
	}
	.phone {
		&__block {
			text-align: center;
			margin: 0;
			padding-bottom: 25px;
		}
		&__operator {
			display: none;
		}
		&__call-me-block {
			position: absolute;
			top: -56px;
			text-align: left;
			left: 108px;
		}
		&__inner {
			margin: 23px 22px 0 22px;
		}
		&__call-me {
			color: #fff;
			border-bottom: 1px dotted #fff;
			&:focus {
				color: #fff;
			}
		}
		&__window-call {
			left: -117px;
		}
	}
	.object {
		&__block {
			padding-top: 20px;
		}
		&__circle,
		&__map {
			display: none;
		}
		&__point {
			position: relative;
			display: none;
			&._young,
			&._coast,
			&._freedom {
				display: block;
				top: 0;
				left: 0;
			}
		}
		&__inner {
			position: relative;
			&:before {
				display: none;
			}
			&._young,
			&._coast,
			&._freedom {
				display: block;
				top: 0;
				left: 0;
				margin: 30px auto;
			}
		}
	}
	.title {
		font-size: 38px;
		padding: 0 5px;
	}
	.about {
		&__block {
			.title {
				margin-bottom: 35px;
			}
		}
		&__price {
			margin: 100px 0 72px 0;
			text-align: center;
			&._marg {
				margin: 0 0% 50px 0px;
			}
		}
		&__name {
			margin: 0 auto;
		}
		&__text {
			&._height {
				line-height: 32px;
				margin: -6px 0 80px 0;
			}
		}
		&__img {
			margin: 0 auto 10px auto;
		}
		&__center {
			margin: 0;
		}
		&__news {
			float: none;
			margin: 65px 0 50px 0;
		}
		&__brand {
			display: none;
		}
	}
	.footer {
		padding: 27px 0;
		background-size: contain;
		&__menu {
			display: none;
		}
		&__phone-item {
			margin-left: 0;
			margin-bottom: 9px;
			display: block;
		}
		&__copyright {
		    margin: 35px 0 0 0;
		}
		&__phone-block {
			float: none;
			text-align: center;
		}
	}
	.video {
		&__play {
			&.ml {
				margin-left: 17px;
			}
		}
	}
	.blockquote {
		&__text {
			font-size: 22px;
		    line-height: 30px;
		}
	}
	.history {
		&__section {
			height: 290px;
			margin-left: 0px;
			margin-top: 40px;
		}
		&__block {
			width: 205px;
		}
		&__text {
			font-size: 16px;
			line-height: 21px;
		}
	}
	.map {
		&__block {
			display: none;
		}
	}
	.person {
		&__section {
			margin: 30px 0;
		}
		&__block {
			padding-right: 0;
			margin-bottom: 30px;
		}
		&__name {
			font-size: 24px;
		}
		&__position {
			font-size: 14px;
		}
		&__email {
			font-size: 14px;
			line-height: 16px;
		}
	}
	.contact {
		&__block-outside {
			display: block;
		}
	}
	.flat {
		&__item {
			margin: 0 12px 30px 12px;
		}
		&__objects {
			padding-bottom: 0;
		}
	}
	.estate {
		&__finish {
			float: none;
		}
		&__slider-wrap {
			top: 0;
			display: block;
			.bx-wrapper {
				// max-width: 100%!important;
				display: block;
				margin:  0 auto;
			}
		}
		&__subtitle {
			font-size: 22px;
			line-height: 35px;
		}
		&__description-text {
			font-size: 16px;
			margin: 0 0 48px 0px;
			line-height: 26px;
		}
		&__left-block {
			position: relative;
			top: 0;
			left: 0;
			display: block;
			margin: 25px auto;
		}
		&__table {
			display: none;
		}
	}
	.bx-pager {
		&__block {
			margin: 0;
		}
		&__link {
			width: 47%;
		    margin: 20px 0px 0 6px;
		    opacity: .6;
		}
		&__img {
			width: 100%;
		}
	}
	#estate__map {
		display: none;
	}
	.department {
		&__section {
			text-align: center;
		}
		&__title {
			font-size: 32px;
		}
		&__img {
		    float: none;
		    display: block;
		    margin: -15px auto 35px auto;
		}
		&__block-inner {
			margin: 0;
		}
		&__phone {
			font-size: 22px;
			margin: 0 0 10px;
		}
		&__position {
			font-size: 20px;
		}
		&__btn {
			float: none;
			margin: 30px auto -30px auto;
		}
	}
	.offers {
		&__block {
			width: 90%;
			display: block;
			max-width: 280px;
			margin: 0 auto 20px auto;
		}
	}
	.photo {
		&__item {
			margin: 0 0 10px 0;
		}
		&__link {
			font-size: 16px;
		}
		&__list-type {
			text-align: left;
		}
	}
	.button__down {
		display: none;
	}
}
@media (min-width: 500px) and (max-width: 767px) {
	.footer {
		&__menu {
			display: block;
			float: left;
			width: 40%;
		}
		&__phone-block {
		    float: right;
		    text-align: left;
		}
		&__item {
			margin: 0 9px 9px 0; 
		}
	}
	.advantages {
		&__section {
			margin-top: 42px;
			display: block;
			padding-bottom: 50px;
		}
		&__list {
			display: none;
		}
	}
	.button__down {
		display: none;
	}
	.title {
		&._white {
			margin: 9% 0 0 0;
		}
	}
	.object {
		&__point-block {
			text-align: center;
			margin-top: 40px;
		}
		&__point {
			&._young,
			&._coast,
			&._freedom {
				display: inline-block;
				text-align: left;
				margin: 0 1% 30px 1%;
			}
		}
	}
	.estate {
		&__table {
			width: 100%;
			display: block;
			td, th {
				font-size: 16px;
				padding: 10px 24px;
				width: 16%;
			}
		}
	}
}
@media (max-width: 690px) {
	.order {
		&__block {
			width: 100%;
		}
		&__form {
			max-width: none;
		}
		&__message,
		&__input {
			width: 100%!important;
			margin: 0;
		}
		&__text {
			display: block;
			font-size: 14px;
			margin: 10px 0 0 0;
		}
		&__title {
			font-size: 24px;
		}

	}
}
@media (min-width: 690px) and (max-width: 768px) {
	// .about {
	// 	&__price {
	// 	    margin: 165px 28px 50px 0;
	// 	    text-align: center;
	// 	    float: left;
	// 	}
	// 	&__center {
	// 		margin: 60px 0 0 0;
	// 	}
	// }
	.footer {
		&__menu {
		    display: block;
		    float: left;
		    width: 55%;
		}
		&__item {
			width: 162px;
			margin: 0 9px 25px 0;
		}
	}
	.object {
		&__point {
			&._young,
			&._coast,
			&._freedom {
				margin: 0px 7% 30px 7%;
			}
		}
	}
	.contact {
		&__block-outside {
			display: block;
			.map__inner {
				display: inline-block;
				width: 45%;
				margin: 0 12px;
			}
		}
	}
	.offers {
		&__block {
			width: 27%;
			display: inline-block;
			max-width: 280px;
			margin: 0 2%;
		}
		&__block-inner {
			min-height: 213px;
		}
		&__img {
			max-height: 100px;
		}
		&__link {
			font-size: 16px;
		}
		&__text {
			font-size: 14px;
			line-height: 21px;
		}
	}
}
@media (min-width: 600px) and (max-width: 768px) {
	.bx-pager__link {
		width: 32%;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	.header {
		&__menu {
			position: absolute;
			top: 53px;
			background-color: rgba(0, 0, 0, 0.8);
			margin: 0!important;
			z-index: 20;
			right: 24px;
			display: none;
		}
		&__menu-item {
			margin-left: 0;
			padding: 0!important;
			display: block!important;
		}
		&__menu-link {
			font-size: 16px;
			display: block;
			padding: 11px 35px;
			box-sizing: border-box;
			border-radius: 0;
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			-ms-transition: all 0.4s ease;
			-o-transition: all 0.4s ease;
			transition: all 0.4s ease;
			&:hover {
				color: #323232;
				background: #fff;
			}
		}
		&__menu-btn {
			&._slide {
				display: block;
			}
		}
	}
	.phone {
		&__block {
			margin: 19px 0 22px 32.6%;
			float: right;
		}
		&__inner {
			margin: 3px 10px 0 10px;
		}
		&__call-me-block {
			display: inline-block;
		    vertical-align: top;
		    margin: 0;
		    position: absolute;
		    top: -68px;
		    left: 17px;
		}
		&__call-me {
			color: #fff;
			border-bottom: 1px dotted #fff;
		}
	}
	.title {
		font-size: 34px;
	}
	.advantages {
		&__img {
			width: 70%;
			min-width: 98px;
			min-height: 92px;
			margin: 0 auto 25px auto;
		}
		&__text {
			line-height: 19px;
			font-size: 16px;
		}
	}
	.video {
		&__play {
			video {
				display: none;
			}
		}
	}
	.button__down {
		display: none;
	}
	.object {
		&__map {
			margin-top: -105px;
			margin-left: 0;
		}
		&__name {
			font-size: 12px;
			line-height: 13px;
		}
		&__point {
			&._young {
				top: 114px;
				left: 357px;
			}
			&._gallery {
				top: 252px;
				left: 388px;
			}
			&._museum {
				top: 297px;
				left: 360px;
			}
			&._temple {
				top: 353px;
				left: 301px;
			}
			&._etnos {
				top: 369px;
				left: 174px;
			}
			&._biatlon {
				top: 541px;
			    left: 311px;
			}
			&._freedom {
				top: 833px;
				left: 446px;
			}
			&._coast{
				top: 370px;
				left: 416px;
			}
		}
	}
	.about {
		&__price {
			margin: 95px 0 50px 0;
			text-align: center;
		}
		&__img {
			margin: 20px auto;
		}
		&__center {
			margin: 0;
		}
		&__news {
			margin: 50px 0;
			float: none;
		}
		&__brand {
			margin-bottom: 25px;
		}
	}
	.footer {
		background-size: contain;
		&__item {
			width: 184px;
			margin: 0 39px 18px 0;
		}
		&__copyright {
			margin: 8px 0 0 -4px;
			display: inline-block;
			float: none;
		}
		&__phone-item {
			margin-right: 53px;
			margin-left: 0;
		}
	}
	.blockquote {
		&__text {
			font-size: 22px;
			line-height: 35px;
		}
	}
	.about {
		&__price {
			&._marg {
				margin: 0 6% 0 0px;
				text-align: left;
				padding-left: 34px;
			}
		}
		&__text {
			&._height {
				margin: -6px 0 70px 0;
			}
		}
	}
	.map {
		&__block {
			margin-top: -98px;
			height: 400px;
		}
	}
	.flat {
		&__item {
			margin: 0 12px 40px 12px;
		}
		&__objects {
			padding-bottom: 20px;
		}
	}
	.estate {
		&__finish {
			margin: 17px 0 0 0;
		}
		&__slider-wrap {
			top: -249px;
		}
		&__subtitle {
			font-size: 26px;
			line-height: 42px;
		}
		&__left-block {
			left: -48%;
		}
		&__table {
			th, td {
				font-size: 16px;
				padding: 12px 20px;
			}
		}
	}
	.bx-pager {
		&__img {
			max-height: 69px;
			max-width: 142px;
		}
		&__link {
			margin: 20px 0 0 20px;
		}
		&__block {
			margin-left: -20px;
			margin-top: -245px;
		}
	}
	.bx-wrapper {
		max-width: 405px!important;
	}
	#estate__map {
		height: 229px;
	}
	.department {
		&__btn {
			margin-top: 40px;
			float: none;
		}
	}
	.offers {
		&__img {
			max-height: 110px;
		}
		&__block-inner {
			min-height: 212px;
		}
		&__link {
			font-size: 16px;
		}
		&__inner-text {
			line-height: 22px;
		}
	}
	.photo {
		&__link {
			font-size: 16px;
			padding: 7px 15px;
		}
	}
}
@media (min-width: 992px) and (max-width: 1200px) {
	.header {
		&__menu-item {
			margin-left: 0;
		}
		&__menu-link {
			padding: 5px 3px;
			font-size: 12px;
		}
	}
	.phone {
		&__block {
			margin: 19px 0 22px 25%;
		}
	}
	.title {
		font-size: 44px;
	}
	.advantages {
		&__img {
			width: 70%;
			min-height: 114px;
			min-width: 122px;
			margin: 0 auto 25px auto;
		}
		&__text {
			line-height: 24px;
		}
	}
	.object {
		&__map {
			margin-top: -116px;
		}
		&__point {
			&._young {
				top: 157px;
				left: 480px;
			}
			&._gallery {
				top: 350px;
				left: 518px;
			}
			&._museum {
				top: 403px;
				left: 480px;
			}
			&._temple {
				top: 479px;
				left: 401px;
			}
			&._etnos {
				top: 487px;
				left: 235px;
			}
			&._biatlon {
				top: 720px;
				left: 407px;
			}
			&._freedom {
				top: 1097px;
				left: 585px;
			}
			&._coast{
				top: 492px;
				left: 552px;
			}
		}
	}
	.about {
		&__news {
			margin: 126px 0 50px -20px;
		}
	}
	.footer {
		&__phone-item {
			margin-left: 45px;
		}
		&__copyright {
			margin: 34px 0 0 33px;
		}
	}
	.blockquote {
		&__text {
			font-size: 24px;
			line-height: 40px;
		}
	}
	.person {
		&__img {
			margin-bottom: 75px;
		}
	}
	.map {
		&__block {
			margin-top: -123px;
			height: 440px;
		}
	}
	.flat {
		&__item {
			margin: 0 4px;
		}
		&__link {
			padding: 13px 28px;
		    min-width: 200px;
		}
		&__name,
		&__type {
			font-size: 17px;
		}
		&__objects {
			background-size: contain;
		}
	}
	.bx-wrapper {
		max-width: 570px!important;
	}
	#estate__map {
		height: 322px;
	}
	.estate {
		&__slider-wrap {
			top: -342px;
		}
		&__table {
			th, td {
				font-size: 17px;
				padding: 12px 37px;
			}
		}
	}
	.bx-pager {
		&__block {
			margin-top: -343px;
		}
		&__img {
			max-height: 111px;
			max-width: 130px;
		}
	}
	.department__btn {
		margin-right: 22px;
		margin-top: -86px;
	}
	.offers {
		&__img {
			max-height: 138px;
		}
		&__block-inner {
			min-height: 207px;
		}
	}
}
@media (min-width: 993px) and (max-width: 1010px) {
	.header {
		&__menu {
			display: inline-block;
		}
		&__menu-btn {
			display: none!important;
		}
	}
}
@media (min-width: 992px) {
	.mobile__menu._fixed {
		display: none!important;
	}
}