@main_font: 'Roboto', sans-serif;
@site_bg: #fff;
@main_color: #000;

html { height: 100%;}
body {
    font-family: @main_font;
    font-weight: normal;
    background: @site_bg;
    height: 100%;
    color: @main_color;
    position: relative;
    &._fixed {
        position: fixed;
    }
}
.main-wrapper { min-height: 100%;}
.buffer {
    height: 240px;
    clear: both;
}
.footer {
    height: 240px;
    margin-top: -240px;
}
.main-wrapper {
    overflow: hidden;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    position: relative;
    left: 0;
    &._fixed {
        left: -230px;
        overflow: visible;
    }
}
.container {
    position: relative;
}
.border {
    font-size: 200%;
    line-height: normal;
}
a {
    color: #2884be;
    &:focus {
        text-decoration: none;
    }
}
ul.list-inline { margin-left: 0; }
label { font-weight: normal;}
h1, h2, h3, h4, h5 { font-family: @main_font; }
img {max-width: 100%;}
a img {border: none;}
button, input, textarea {outline: none;}