extends _layout
block content
	.main__content
		.main__underhead
			.container
				.row
					.phone__block._main.col-lg-8.col-md-9
						img.phone__operator(src="img/content/ava.png", alt="")
						.phone__inner
							p.phone__number._black(onclick="window.location.href='tel:+83467318477';") 8 3467 
								span.phone__sufix 318-477
							p.phone__text._black Приемная
						.phone__inner
							p.phone__number._black(onclick="window.location.href='tel:+83467318477';") 8 3467 
								span.phone__sufix 318-477
							p.phone__text._black Отдел продаж
						.phone__call-me-block
							a.phone__call-me(href="#")
								span.border Заказать<br>обратный звонок
		.map__block
			.map__shadow
			script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
			script.
				ymaps.ready(init);
				function init () {
				    var myMap = new ymaps.Map('map', {
				            center: [61.00152809, 69.00283838],
				            zoom: 15,
				            controls:[]
				        });

					    myMap.behaviors.disable('scrollZoom');
						
						//закрываем активный балун
						myMap.events.add('click', function (e) {  
						    myMap.balloon.close();
						});

				        myPlacemark = new ymaps.Placemark([60.99916567, 69.00558755], {
				            // Контент балуна
				            balloonContent: '<div class="map__inner"><p class="map__inner-head">Главный офис</p><p class="map__city">Ханты-Мансийск,</p><p class="map__address">ул. Пушкина, дом 39</p><p class="map__phone" onclick="window.location.href="tel:+8367920555";">8 (3467) 930 - 555</p><a href="mailto:kvartal860@yandex.ru" class="map__email">kvartal860@yandex.ru</a></div>'
				        }, {
				             // Изображение иконки метки
				            iconLayout: 'default#image',
				            iconImageHref: 'img/marker.png',
				            // Размеры изображения иконки
				            iconImageSize: [20, 30],  
				            // смещение картинки
				            iconImageOffset: [-10, -30],
				            // Размеры содержимого балуна
				            balloonContentSize: [377, 0],
				            // Задаем макет балуна - пользовательская картинка с контентом
				            balloonLayout: "default#imageWithContent",
				            // Картинка балуна
				            //- balloonImageHref: 'img/map_obj_wrap.png',
				            // Смещение картинки балуна
				            balloonImageOffset: [-20, -265],
				            // Размеры картинки балуна
				            //- balloonImageSize: [255, 0],
				            // Балун не имеет тени
				            balloonShadow: true
				        });

						myPlacemark_one = new ymaps.Placemark([61.00327401, 68.99789476], {
				            // Контент балуна
				            balloonContent: '<div class="map__inner"><p class="map__inner-head">Офис продаж</p><p class="map__city">Ханты-Мансийск,</p><p class="map__address">ул. Промышленная, дом 5</p><p class="map__phone" onclick="window.location.href="tel:+83467318477";">8 (3467) 318 - 477</p></div>'
				        }, {
				             // Изображение иконки метки
				            iconLayout: 'default#image',
				            iconImageHref: 'img/marker.png',
				            // Размеры изображения иконки
				            iconImageSize: [20, 30],  
				            // смещение картинки
				            iconImageOffset: [-10, -30],
				            // Размеры содержимого балуна
				            balloonContentSize: [377, 0],
				            // Задаем макет балуна - пользовательская картинка с контентом
				            balloonLayout: "default#imageWithContent",
				            // Картинка балуна
				            //- balloonImageHref: 'img/map_obj_wrap.png',
				            // Смещение картинки балуна
				            balloonImageOffset: [-20, -237],
				            // Размеры картинки балуна
				            //- balloonImageSize: [255, 0],
				            // Балун не имеет тени
				            balloonShadow: true
				        });
					var tileUrlTemplate = 'hotspot_data/%z/tile_x=%x&y=%y',
					        // Шаблон callback-функции, в которую сервер будет оборачивать данные тайла.
					        // Пример callback-функции после подстановки - 'testCallback_tile_x_1_y_2_z_9'.
					        keyTemplate = 'testCallback_tile_%c',
					        // URL тайлов картиночного слоя.
					        // Пример URL после подстановки -
					        // '.../hotspot_layer/images/9/tile_x=1&y=2.png'.
					        imgUrlTemplate = 'img/map_bg.png',
					        // Создадим источник данных слоя активных областей.
					        objSource = new ymaps.hotspot.ObjectSource(tileUrlTemplate, keyTemplate),
					        // Создаем картиночный слой и слой активных областей.
					        imgLayer = new ymaps.Layer(imgUrlTemplate, {tileTransparent: true}),
					        hotspotLayer = new ymaps.hotspot.Layer(objSource, {cursor: 'help'});

					    // Добавляем слои на карту.
					    myMap.layers.add(hotspotLayer);
					    myMap.layers.add(imgLayer);
				    // Добавляем метки на карту
				    myMap.geoObjects
				    	.add(myPlacemark)
				    	.add(myPlacemark_one);
				}
			#map
		.person__section
			.container
				h1.title ключевые сотрудники
				.row
					.person__block.col-lg-6.col-xs-12.col-md-6
						img.person__img(src="img/content/p1.jpg", alt="")
						.person__block-inner
							h3.person__name Балесный Василий Иванович
							p.person__position Генеральный директор
					.person__block.col-lg-6.col-xs-12.col-md-6
						img.person__img(src="img/content/p2.jpg", alt="")
						.person__block-inner
							h3.person__name Курганский Юрий Владимирович
							p.person__position Заместитель директора по строительству
					.person__block.col-lg-6.col-xs-12.col-md-6
						img.person__img(src="img/content/p3.jpg", alt="")
						.person__block-inner
							h3.person__name Устюгова Наталья Андреевна
							p.person__position Заместитель директора по финансам
					.person__block.col-lg-6.col-xs-12.col-md-6
						img.person__img(src="img/content/p1.jpg", alt="")
						.person__block-inner
							h3.person__name Балесный Василий Иванович
							p.person__position Генеральный директор
					.person__block.col-lg-6.col-xs-12.col-md-6
						img.person__img(src="img/content/p1.jpg", alt="")
						.person__block-inner
							h3.person__name Балесный Василий Иванович
							p.person__position Генеральный директор
							a.person__email(href="mailto:psvetik08@mail.ru") psvetik08@mail.ru
					.person__block.col-lg-6.col-xs-12.col-md-6
						img.person__img(src="img/content/p1.jpg", alt="")
						.person__block-inner
							h3.person__name Балесный Василий Иванович
							p.person__position Генеральный директор
					.person__block.col-lg-6.col-xs-12.col-md-6
						img.person__img(src="img/content/p1.jpg", alt="")
						.person__block-inner
							h3.person__name Балесный Василий Иванович
							p.person__position Генеральный директор
					.person__block.col-lg-6.col-xs-12.col-md-6
						img.person__img(src="img/content/p1.jpg", alt="")
						.person__block-inner
							h3.person__name Балесный Василий Иванович
							p.person__position начальник производственной базы, руководитель бетонно-растворного узла
							a.person__email(href="mailto:psvetik08@mail.ru") psvetik08@mail.ru
					