extends _layout
block content
	.main__content
		.main__underhead
			.container
				.row
					.phone__block.col-lg-8.col-md-9
						img.phone__operator(src="img/content/ava.png", alt="")
						.phone__inner
							p.phone__number._black(onclick="window.location.href='tel:+83467318477';") 8 3467 
								span.phone__sufix 318-477
							p.phone__text._black Приемная
						.phone__inner
							p.phone__number._black(onclick="window.location.href='tel:+83467318477';") 8 3467 
								span.phone__sufix 318-477
							p.phone__text._black Отдел продаж
						.phone__call-me-block
							a.phone__call-me(href="#")
								span.border Заказать<br>обратный звонок
							.phone__window-call
								form.phone__form(action="#" method="post")
									input.phone__input.mask(type="text" required placeholder="Номер телефона")
									p.phone__window-call-text Наш менеджер перезвонит вам в ближайшее время и мы сможем обсудить интересующие вас детали.
									button.phone__submit(type="submit") Отправить
		.flat__section
			.container
				h1.title наши объекты
				p.flat__text В одном из наших прекрасных Жилых Комплексов точно есть то, что вам нужно.
		.flat__objects
			.container
				ul.flat__list.list-inline
					li.flat__item
						a.flat__link(href="#")
							p.flat__type Жилой дом
							p.flat__name «Иртышский Берег»
					li.flat__item
						a.flat__link.active(href="#")
							p.flat__type Жилой комплекс
							p.flat__name «Свобода»
					li.flat__item
						a.flat__link(href="#")
							p.flat__type Жилой комплекс
							p.flat__name «Молодежный»
					li.flat__item
						a.flat__link(href="#")
							p.flat__type Жилой дом
							p.flat__name «Иртышский Берег»
		.estate__section
			.container
				p.estate__finish Дом введен <br>в эксплуатацию
				h2.title._textL
					span.title__type жилой комплекс 
					| «Свобода»
			script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
			script.
				ymaps.ready(init);
				function init () {
				    var myMap = new ymaps.Map('estate__map', {
				            center: [61.00152809, 69.00000838],
				            zoom: 15,
				            controls:[]
				        });

					    //- myMap.behaviors.disable('scrollZoom');
						
						//закрываем активный балун
						myMap.events.add('click', function (e) {  
						    myMap.balloon.open();
						});

				        myPlacemark = new ymaps.Placemark([60.99916567, 69.00558755], {
				            // Контент балуна
				            balloonContent: '<div class="map__inner"><p class="map__city">Ханты-Мансийск,</p><p class="map__address">2-я улица Строителей, д.25, кв.12</p></div>'
				        }, {
				             // Изображение иконки метки
				            iconLayout: 'default#image',
				            iconImageHref: 'img/marker.png',
				            // Размеры изображения иконки
				            iconImageSize: [20, 30],  
				            // смещение картинки
				            iconImageOffset: [-10, -30],
				            // Размеры содержимого балуна
				            balloonContentSize: [377, 0],
				            // Задаем макет балуна - пользовательская картинка с контентом
				            balloonLayout: "default#imageWithContent",
				            // Картинка балуна
				            //- balloonImageHref: 'img/map_obj_wrap.png',
				            // Смещение картинки балуна
				            balloonImageOffset: [-20, -175],
				            // Размеры картинки балуна
				            //- balloonImageSize: [255, 0],
				            // Балун не имеет тени
				            balloonShadow: true
				        });
						
					var tileUrlTemplate = 'hotspot_data/%z/tile_x=%x&y=%y',
					        // Шаблон callback-функции, в которую сервер будет оборачивать данные тайла.
					        // Пример callback-функции после подстановки - 'testCallback_tile_x_1_y_2_z_9'.
					        keyTemplate = 'testCallback_tile_%c',
					        // URL тайлов картиночного слоя.
					        // Пример URL после подстановки -
					        // '.../hotspot_layer/images/9/tile_x=1&y=2.png'.
					        imgUrlTemplate = 'img/map_bg.png',
					        // Создадим источник данных слоя активных областей.
					        objSource = new ymaps.hotspot.ObjectSource(tileUrlTemplate, keyTemplate),
					        // Создаем картиночный слой и слой активных областей.
					        imgLayer = new ymaps.Layer(imgUrlTemplate, {tileTransparent: true}),
					        hotspotLayer = new ymaps.hotspot.Layer(objSource, {cursor: 'help'});

					    // Добавляем слои на карту.
					    myMap.layers.add(hotspotLayer);
					    myMap.layers.add(imgLayer);
				    // Добавляем метки на карту
				    myMap.geoObjects.add(myPlacemark);
				    myPlacemark.balloon.open();
				}
			#estate__map
			.estate__slider-block
				.container
					.estate__slider-wrap
						ul.estate__slider
							li
								img(src="img/content/house.jpg", alt="")
							li
								img(src="img/content/house2.jpg", alt="")
							li
								img(src="img/content/house2.jpg", alt="")
							li
								img(src="img/content/house.jpg", alt="")
							li
								img(src="img/content/house2.jpg", alt="")
							li
								img(src="img/content/house2.jpg", alt="")
					.bx-pager__block
						a.bx-pager__link(data-slide-index="0" href="")
							img.bx-pager__img(src="img/content/thumb1.jpg", alt="")
						a.bx-pager__link(data-slide-index="1" href="")
							img.bx-pager__img(src="img/content/thumb2.jpg", alt="")
						a.bx-pager__link(data-slide-index="2" href="")
							img.bx-pager__img(src="img/content/thumb2.jpg", alt="")
						a.bx-pager__link(data-slide-index="3" href="")
							img.bx-pager__img(src="img/content/thumb1.jpg", alt="")
						a.bx-pager__link(data-slide-index="4" href="")
							img.bx-pager__img(src="img/content/thumb2.jpg", alt="")
						a.bx-pager__link(data-slide-index="5" href="")
							img.bx-pager__img(src="img/content/thumb2.jpg", alt="")
			.estate__description
				.container
					.estate__description-inner.col-xs-offset-3.col-xs-9.col-lg-offset-3.col-lg-9
						h3.estate__subtitle Внешний и внутренний облик ЖК «Статус» создан специалистами архитектурной мастерской «А3» по индивидуальному проекту.
						.estate__description-text Еще на старте строительства жилой комплекс удостоился высокой оценки экспертов и региональных властей. Так, в 2011 году на выставке «Градостроитель» работа архитекторов была отмечена дипломом Комитета по градостроительной политике администрации Иркутска.
							.estate__left-block
								img.estate__left-img(src="img/list.png", alt="")
								a.estate__text-link(href="#")
									span.border Сайт Жилого Комплекса “Свобода”
						table.estate__table
							tr
								th Комнаты
								th Площадь, м<sup>2</sup>
								th Стоимость, руб
							tr
								td 1
								td от 66,8
								td от 4 352 130
							tr
								td 2
								td от 79,1
								td от 4 908 240
						.estate__description-text Общество с ограниченной ответственностью «Квартал», достаточно молодое, но динамично развивающееся предприятие строительной отрасли города Ханты-Мансийска.
						.estate__description-text Общество создано для осуществления хозяйственной деятельности в целях удовлетворения общественных потребностей  в его продукции, товарах, работах, услугах и реализации на основе полученной прибыли экономических интересов участников и членов трудового коллектива Общества. В соответствии с Уставом предметом деятельности Общества  могут являться следующие виды деятельности:
							.estate__left-block
								img.estate__left-img(src="img/project.png", alt="")
								a.estate__text-link(href="#")
									span.border Проектная декларация
			.department__section
				.container
					.department__block.col-xs-offset-2.col-lg-6.col-lg-offset-3.col-md-offset-1
						h3.department__title Отдел продаж:
						img.department__img(src="img/content/sale.jpg", alt="")
						.department__block-inner
							p.department__person-name Дашин Андрей
							p.department__position Менеджер по продажам
							p.department__phone(onclick="window.location.href='tel:+78432676111';") +7 (843) 267-61-11
							a.department__email(href="mailto:andrey.dashin@kvartal.ru") andrey.dashin@kvartal.ru
					a.department__btn.col-xs-offset-4.fancy(href="#order") Оставить заявку
					#order
						.order__block
							h2.order__title Оставить заявку
							form.order__form(action="#" method="post")
								p.order__text Мы подберем подходящие вам варианты и перезвоним в ближайшее время.
								span.order__text Меня зовут
								input.order__input._name(type="text" reqiured placeholder="ваше имя")
								span.order__text , меня интересует
								textarea.order__message(placeholder="расскажите о квартире своей мечты" reqiured)
								span.order__text Свяжитесь со мной по телефону :
								input.order__input._phone.mask(type="text" reqiured placeholder="номер телефона")
								button.phone__submit._order(type="submit") Отправить