extends _layout
block content
	.main__content
		.main__underhead
			.container
				.row
					.phone__block.col-lg-8.col-md-9
						img.phone__operator(src="img/content/ava.png", alt="")
						.phone__inner
							p.phone__number._black(onclick="window.location.href='tel:+83467318477';") 8 3467 
								span.phone__sufix 318-477
							p.phone__text._black Приемная
						.phone__inner
							p.phone__number._black(onclick="window.location.href='tel:+83467318477';") 8 3467 
								span.phone__sufix 318-477
							p.phone__text._black Отдел продаж
						.phone__call-me-block
							a.phone__call-me(href="#")
								span.border Заказать<br>обратный звонок
							.phone__window-call
								form.phone__form(action="#" method="post")
									input.phone__input.mask(type="text" required placeholder="Номер телефона")
									p.phone__window-call-text Наш менеджер перезвонит вам в ближайшее время и мы сможем обсудить интересующие вас детали.
									button.phone__submit(type="submit") Отправить
		.photo__section
			.container
				h1.title фотогалерея
				ul.photo__list-type.list-inline
					li.photo__item
						a.photo__link.active(href="#") ЖК Квартал
					li.photo__item
						a.photo__link(href="#") Строительство
					li.photo__item
						a.photo__link(href="#") Наша компания
					li.photo__item
						a.photo__link(href="#") Победители акций
				p.photo__text В гармонии с самой природой, в окружении лесопарковой зоны и набережной реки Иртыш. Благоустроенные площадки для пикников и б арбекю. Жилой комплекс «Свобода» — «новый», исторический центр создания г. Ханты-Мансийска, в пяти минутах ходьбы от площади Свободы и культурных мест города.
			.gamma-container.gamma-loading#gamma-container
				ul.gamma-gallery
					li
						div(data-alt="img09" data-description="<h3>Assemblage</h3>" data-max-width="1800" data-max-height="2400")
							div(data-src="img/content/photo5.jpg" data-min-width="1300")
							div(data-src="img/content/photo5.jpg" data-min-width="1000")
							div(data-src="img/content/photo5.jpg" data-min-width="700")
							div(data-src="img/content/photo5.jpg" data-min-width="300")
							div(data-src="img/content/photo5.jpg" data-min-width="200")
							div(data-src="img/content/photo5.jpg" data-min-width="140")
							div(data-src="img/content/photo5.jpg")
							noscript
								img(src="img/content/photo5.jpg", alt="img09")
					li
						div(data-alt="img01" data-description="<h3>фцвфцв</h3>" data-max-width="1800" data-max-height="2400")
							div(data-src="img/content/photo2.jpg" data-min-width="1300")
							div(data-src="img/content/photo2.jpg" data-min-width="1000")
							div(data-src="img/content/photo2.jpg" data-min-width="700")
							div(data-src="img/content/photo2.jpg" data-min-width="300")
							div(data-src="img/content/photo2.jpg" data-min-width="200")
							div(data-src="img/content/photo2.jpg" data-min-width="140")
							div(data-src="img/content/photo2.jpg")
							noscript
								img(src="img/content/photo2.jpg", alt="img01")
					li
						div(data-alt="img01" data-description="<h3>Assemblage</h3>" data-max-width="1800" data-max-height="2400")
							div(data-src="img/content/photo6.jpg" data-min-width="1300")
							div(data-src="img/content/photo6.jpg" data-min-width="1000")
							div(data-src="img/content/photo6.jpg" data-min-width="700")
							div(data-src="img/content/photo6.jpg" data-min-width="300")
							div(data-src="img/content/photo6.jpg" data-min-width="200")
							div(data-src="img/content/photo6.jpg" data-min-width="140")
							div(data-src="img/content/photo6.jpg")
							noscript
								img(src="img/content/photo6.jpg", alt="img01")
					li
						div(data-alt="img01" data-description="<h3>Assemblage</h3>" data-max-width="1800" data-max-height="2400")
							div(data-src="img/content/photo4.jpg" data-min-width="1300")
							div(data-src="img/content/photo4.jpg" data-min-width="1000")
							div(data-src="img/content/photo4.jpg" data-min-width="700")
							div(data-src="img/content/photo4.jpg" data-min-width="300")
							div(data-src="img/content/photo4.jpg" data-min-width="200")
							div(data-src="img/content/photo4.jpg" data-min-width="140")
							div(data-src="img/content/photo4.jpg")
							noscript
								img(src="img/content/photo4.jpg", alt="img01")
					li
						div(data-alt="img01" data-description="<h3>Assemblage</h3>" data-max-width="1800" data-max-height="2400")
							div(data-src="img/content/photo1.jpg" data-min-width="1300")
							div(data-src="img/content/photo1.jpg" data-min-width="1000")
							div(data-src="img/content/photo1.jpg" data-min-width="700")
							div(data-src="img/content/photo1.jpg" data-min-width="300")
							div(data-src="img/content/photo1.jpg" data-min-width="200")
							div(data-src="img/content/photo1.jpg" data-min-width="140")
							div(data-src="img/content/photo1.jpg")
							noscript
								img(src="img/content/photo1.jpg", alt="img01")
					li
						div(data-alt="img02" data-description="<h3>Assemblage</h3>" data-max-width="1800" data-max-height="2400")
							div(data-src="img/content/photo7.jpg" data-min-width="1300")
							div(data-src="img/content/photo7.jpg" data-min-width="1000")
							div(data-src="img/content/photo7.jpg" data-min-width="700")
							div(data-src="img/content/photo7.jpg" data-min-width="300")
							div(data-src="img/content/photo7.jpg" data-min-width="200")
							div(data-src="img/content/photo7.jpg" data-min-width="140")
							div(data-src="img/content/photo7.jpg")
							noscript
								img(src="img/content/photo7.jpg", alt="img02")
					li
						div(data-alt="img01" data-description="<h3>Assemblage</h3>" data-max-width="1800" data-max-height="2400")
							div(data-src="img/content/photo3.jpg" data-min-width="1300")
							div(data-src="img/content/photo3.jpg" data-min-width="1000")
							div(data-src="img/content/photo3.jpg" data-min-width="700")
							div(data-src="img/content/photo3.jpg" data-min-width="300")
							div(data-src="img/content/photo3.jpg" data-min-width="200")
							div(data-src="img/content/photo3.jpg" data-min-width="140")
							div(data-src="img/content/photo3.jpg")
							noscript
								img(src="img/content/photo3.jpg", alt="img01")
					li
						div(data-alt="img01" data-description="<h3>Assemblage</h3>" data-max-width="1800" data-max-height="2400")
							div(data-src="img/content/photo5.jpg" data-min-width="1300")
							div(data-src="img/content/photo5.jpg" data-min-width="1000")
							div(data-src="img/content/photo5.jpg" data-min-width="700")
							div(data-src="img/content/photo5.jpg" data-min-width="300")
							div(data-src="img/content/photo5.jpg" data-min-width="200")
							div(data-src="img/content/photo5.jpg" data-min-width="140")
							div(data-src="img/content/photo5.jpg")
							noscript
								img(src="img/content/photo5.jpg", alt="img01")
					li
						div(data-alt="img01" data-description="<h3>фцвфцв</h3>" data-max-width="1800" data-max-height="2400")
							div(data-src="img/content/photo2.jpg" data-min-width="1300")
							div(data-src="img/content/photo2.jpg" data-min-width="1000")
							div(data-src="img/content/photo2.jpg" data-min-width="700")
							div(data-src="img/content/photo2.jpg" data-min-width="300")
							div(data-src="img/content/photo2.jpg" data-min-width="200")
							div(data-src="img/content/photo2.jpg" data-min-width="140")
							div(data-src="img/content/photo2.jpg")
							noscript
								img(src="img/content/photo2.jpg", alt="img01")
					li
						div(data-alt="img01" data-description="<h3>Assemblage</h3>" data-max-width="1800" data-max-height="2400")
							div(data-src="img/content/photo6.jpg" data-min-width="1300")
							div(data-src="img/content/photo6.jpg" data-min-width="1000")
							div(data-src="img/content/photo6.jpg" data-min-width="700")
							div(data-src="img/content/photo6.jpg" data-min-width="300")
							div(data-src="img/content/photo6.jpg" data-min-width="200")
							div(data-src="img/content/photo6.jpg" data-min-width="140")
							div(data-src="img/content/photo6.jpg")
							noscript
								img(src="img/content/photo6.jpg", alt="img01")
					li
						div(data-alt="img01" data-description="<h3>Assemblage</h3>" data-max-width="1800" data-max-height="2400")
							div(data-src="img/content/photo4.jpg" data-min-width="1300")
							div(data-src="img/content/photo4.jpg" data-min-width="1000")
							div(data-src="img/content/photo4.jpg" data-min-width="700")
							div(data-src="img/content/photo4.jpg" data-min-width="300")
							div(data-src="img/content/photo4.jpg" data-min-width="200")
							div(data-src="img/content/photo4.jpg" data-min-width="140")
							div(data-src="img/content/photo4.jpg")
							noscript
								img(src="img/content/photo4.jpg", alt="img01")
					li
						div(data-alt="img01" data-description="<h3>Assemblage</h3>" data-max-width="1800" data-max-height="2400")
							div(data-src="img/content/photo1.jpg" data-min-width="1300")
							div(data-src="img/content/photo1.jpg" data-min-width="1000")
							div(data-src="img/content/photo1.jpg" data-min-width="700")
							div(data-src="img/content/photo1.jpg" data-min-width="300")
							div(data-src="img/content/photo1.jpg" data-min-width="200")
							div(data-src="img/content/photo1.jpg" data-min-width="140")
							div(data-src="img/content/photo1.jpg")
							noscript
								img(src="img/content/photo1.jpg", alt="img01")
					li
						div(data-alt="img01" data-description="<h3>Assemblage</h3>" data-max-width="1800" data-max-height="2400")
							div(data-src="img/content/photo7.jpg" data-min-width="1300")
							div(data-src="img/content/photo7.jpg" data-min-width="1000")
							div(data-src="img/content/photo7.jpg" data-min-width="700")
							div(data-src="img/content/photo7.jpg" data-min-width="300")
							div(data-src="img/content/photo7.jpg" data-min-width="200")
							div(data-src="img/content/photo7.jpg" data-min-width="140")
							div(data-src="img/content/photo7.jpg")
							noscript
								img(src="img/content/photo7.jpg", alt="img01")
					li
						div(data-alt="img01" data-description="<h3>Assemblage</h3>" data-max-width="1800" data-max-height="2400")
							div(data-src="img/content/photo3.jpg" data-min-width="1300")
							div(data-src="img/content/photo3.jpg" data-min-width="1000")
							div(data-src="img/content/photo3.jpg" data-min-width="700")
							div(data-src="img/content/photo3.jpg" data-min-width="300")
							div(data-src="img/content/photo3.jpg" data-min-width="200")
							div(data-src="img/content/photo3.jpg" data-min-width="140")
							div(data-src="img/content/photo3.jpg")
							noscript
								img(src="img/content/photo3.jpg", alt="img01")		
					li
						div(data-alt="img01" data-description="<h3>Assemblage</h3>" data-max-width="1800" data-max-height="2400")
							div(data-src="img/content/photo4.jpg" data-min-width="1300")
							div(data-src="img/content/photo4.jpg" data-min-width="1000")
							div(data-src="img/content/photo4.jpg" data-min-width="700")
							div(data-src="img/content/photo4.jpg" data-min-width="300")
							div(data-src="img/content/photo4.jpg" data-min-width="200")
							div(data-src="img/content/photo4.jpg" data-min-width="140")
							div(data-src="img/content/photo4.jpg")
							noscript
								img(src="img/content/photo4.jpg", alt="img01")
					li
						div(data-alt="img01" data-description="<h3>Assemblage</h3>" data-max-width="1800" data-max-height="2400")
							div(data-src="img/content/photo1.jpg" data-min-width="1300")
							div(data-src="img/content/photo1.jpg" data-min-width="1000")
							div(data-src="img/content/photo1.jpg" data-min-width="700")
							div(data-src="img/content/photo1.jpg" data-min-width="300")
							div(data-src="img/content/photo1.jpg" data-min-width="200")
							div(data-src="img/content/photo1.jpg" data-min-width="140")
							div(data-src="img/content/photo1.jpg")
							noscript
								img(src="img/content/photo1.jpg", alt="img01")
					li
						div(data-alt="img01" data-description="<h3>Assemblage</h3>" data-max-width="1800" data-max-height="2400")
							div(data-src="img/content/photo1.jpg" data-min-width="1300")
							div(data-src="img/content/photo1.jpg" data-min-width="1000")
							div(data-src="img/content/photo1.jpg" data-min-width="700")
							div(data-src="img/content/photo1.jpg" data-min-width="300")
							div(data-src="img/content/photo1.jpg" data-min-width="200")
							div(data-src="img/content/photo1.jpg" data-min-width="140")
							div(data-src="img/content/photo1.jpg")
							noscript
								img(src="img/content/photo1.jpg", alt="img01")
					li
						div(data-alt="img01" data-description="<h3>Assemblage</h3>" data-max-width="1800" data-max-height="2400")
							div(data-src="img/content/photo1.jpg" data-min-width="1300")
							div(data-src="img/content/photo1.jpg" data-min-width="1000")
							div(data-src="img/content/photo1.jpg" data-min-width="700")
							div(data-src="img/content/photo1.jpg" data-min-width="300")
							div(data-src="img/content/photo1.jpg" data-min-width="200")
							div(data-src="img/content/photo1.jpg" data-min-width="140")
							div(data-src="img/content/photo1.jpg")
							noscript
								img(src="img/content/photo1.jpg", alt="img01")
					li
						div(data-alt="img01" data-description="<h3>Assemblage</h3>" data-max-width="1800" data-max-height="2400")
							div(data-src="img/content/photo1.jpg" data-min-width="1300")
							div(data-src="img/content/photo1.jpg" data-min-width="1000")
							div(data-src="img/content/photo1.jpg" data-min-width="700")
							div(data-src="img/content/photo1.jpg" data-min-width="300")
							div(data-src="img/content/photo1.jpg" data-min-width="200")
							div(data-src="img/content/photo1.jpg" data-min-width="140")
							div(data-src="img/content/photo1.jpg")
							noscript
								img(src="img/content/photo1.jpg", alt="img01")
				.gamma-overlay