header.header
	.container
		a.header__logo(href="/")
			img(src="img/logo.png" alt="Site Logo")
		ul.header__menu.list-inline
			li.header__menu-item
				a.header__menu-link(href="#") О компании
			li.header__menu-item
				a.header__menu-link(href="#") Наши объекты
			li.header__menu-item
				a.header__menu-link(href="#") услуги
			li.header__menu-item
				a.header__menu-link(href="#") Соц.партнерство
			li.header__menu-item
				a.header__menu-link(href="#") Фотогалерея
			li.header__menu-item
				a.header__menu-link(href="#") Спец.предложения
			li.header__menu-item
				a.header__menu-link(href="#") Контакты