script(src="js/jquery.js")
script(src="js/plugins.js")
// подключить на странцие галереи
script(src="js/gallery_plugin.js")
// ==============================
// подключить на странцие с видео на главной
script(src="js/video.js")
// ==============================
script(src="js/script.js")